html {
    background: #222;
}
body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    line-height: 1.5;
    color: #e8e8e8;
}
nav a {
    margin-right: 1rem;
}
a {
    color: #d3d3d3;
}
.room {
    opacity: .5;
    font-size: 1rem;
    margin-right: 2rem;
}
.links {
    /*display: flex;*/
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        border: lightgrey 1px solid;
        border-radius: 4px;
        margin-block: 1rem;
        width: 100%;
        overflow: hidden;

        div {
            width: 100%;
            height: 100%;
            padding: 1rem;
        }

        & > a > div:hover {
            opacity: 0.8;
            background: #111111;
        }

        button {
            position: absolute;
            display: flex;
            align-items: center;
            text-align: center;
            top: 4px;
            right: 4px;
            border-radius: 100%;
            border: white 1px solid;
            background: transparent;
            width: 32px;
            height: 32px;
            font-size: 18px;
            alignment-baseline: center;
        }

        .expire {
            /*text-align: right;*/
            opacity: .5;
        }
    }
}

form {
    margin-block: 2rem;
}

input[type="text"] {
    font-size: 2rem;
    background: transparent;
    border: white 1px solid;
    border-radius: 8px;
    padding: 1rem;
    color: white;
}

button {
    font-size: 2rem;
    background: #39a3d7;
    color: white;
    padding: 8px;
    border-radius: 12px;
    border: none;
    margin: 12px;
}

button:hover {
    opacity: 0.8;
}

.input-btn {
    display: flex;
    height: 3rem;

    input {
        background: black;
        border-radius: 10px 0 0 10px;
        border: none;
    }

    button {
        height: 100%;
        margin: 0;
        border-radius: 0 10px 10px 0;
    }
}