<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>shxr</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/svg" href="/shxr.svg" />
    </head>
    <body>
        <h1>shxr</h1>
        <p>Share public links in rooms for 24h.</p>
        <form action="/" method="get" class="input-btn">
            <input name="room" type="text" placeholder="room"/>
            <button id="open-room" type="submit">↵</button>
        </form>
    </body>
</html>